{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
      <h1>Artist Page for: <br>{{name | title}}</h1>
    </div> <!-- jumbrotron -->
</div> <!-- container -->
<div class="container">
     <p>Artist name is:: {{name}}</p>

    <p>Artist ID is: {{id}}</p>
    <p>Popularity is: {{pop}}</p>
    <p>Folowers is: {{followers}}</p>
    <p>Open in Spotify App: <a href="{{open_link}}">{{open_link}}</a></p>
    <img src="{{image}}" alt="artist image">
    <h2>Albums</h2>
    {% for album in  album_list  %}
      <p>{{loop.index}}:{{album}}</p>
    {% endfor %}
    <br>
    <h2><a href="related-artists/{{name}}">Get Related Artists</a></h2>
</div> <!--container-fluid-->

<div class="container">
  <form action="artist" method="post" >
      Search for another artist: <input type="text" id="name" name="name" />
      <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
