{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Related Artist</h1>
    </div>
</div>

<div class=container>
    Here are some related artsits of {{name}}

    <div class="row">
    {% for artist in related %}
        <div class="col-md-12">
         <p><a href="{{artist[0]}}">{{artist[0]}}</a> </p>
            <p>Their ID is {{artist[1]}}</p>
            <img src="{{artist[2]}}" alt="artist image" style="width:300;height:100;">
            <video controls  name="media">
                <source src="{{artist[3]}}" type="audio/mpeg">
            </video>
            <p>Sample track</p>
        </div>

    {% endfor %}

    </div>
{% endblock %}
